---
title:  Framework
layout:  main
---

/ SMALL ELEMENTS----------------------

.block{:style => 'width:600px; border-bottom: 3px dolid #CCC'}

	.h3
		fonts

	%p
		LIGHT
		= lorem.words(7)
		+-908979867896
	%p
		REGULAR
		= lorem.words(7)
		+-908979867896
	%p
		SEMI-BOLD
		= lorem.words(7)
		+-908979867896
	%p
		BOLD
		= lorem.words(7)
		+-908979867896
	%p
		ITALIC
		= lorem.words(7)
		+-908979867896

	%br

	.blue-bl
		%h1
			Title
	%h2
		Title
	%h3
		Title
	%h4
		Title
	%h5
		Title
	%br



